body {
}

#root {
  text-align: center;
}

#game-container {
  margin: 0 auto;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  display: inline-block;
}

#game-toolbar {
  padding: 6px;
  height: 30px;
}

#game-board {
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.cell--dead {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.cell--alive {
  @extend .cell--dead;
  background-color: red;
}
